# docker-compose.modern.yml

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password

  wordpress:
    image: wordpress:latest # Uses latest WP image with modern PHP
    depends_on:
      - db
    ports:
      - "8005:80" # Change 8000 for each env (e.g., 8001, 8002...)
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ../../plugin/campaignbay:/var/www/html/wp-content/plugins/campaignbay 
      - ../../plugin/campaignbaypro:/var/www/html/wp-content/plugins/campaignbaypro
      - wp_data:/var/www/html

volumes:
  db_data:
  wp_data:
